.container {
  background-color: rgba(250, 235, 215, 0.24);
}

.header {
  background-color: rgba(240, 139, 6, 0.192);
  padding: 30px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.add-comment,
.comment-list {
  padding: 30px;
  margin: 10px;
}

.add-comment span {
  display: block;
  margin: 20px 20px 20px 0;
}

.add-comment input {
  display: block;
  width: 300px;
  border-radius: 5px;
  outline-color: darkorange;
  height: 30px;
}

button {
  margin: 40px 20px 20px 0;
  background-color: rgba(231, 140, 21, 0.493);
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  font-weight: bolder;
}

button:active {
  background-color: rgba(255, 148, 9, 0.795);
}

.comment-item {
  position: relative;
  width: 400px;
}
.delete-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}

.comment-content {
  padding: 20px;
  border: solid rgb(201, 197, 193) 1px;
  border-radius: 5px;
}

.comment-typing {
  display: block;
  width: 300px;
  border-radius: 10px;
  border: solid rgb(201, 197, 193) 1px;
  outline-color: darkorange;
}
